body { 
    background-color:blueviolet;
    color:white;
    font-family:monospace;
}

#inputContainer{
    position: absolute;
    width: 15vw;
    height: 2vw;
    border: 0.2vw solid white;
    background-color:white;
    color:blueviolet;
}

.container{
    position: relative; top: 11.5vw; left: 40vw;
    width: fit-content;
}

#addToDo {
    position: relative; top: 0.3vw; left: 17vw;  
    
    width: 3vw;
    height: 2vw;
    border:solid white;
    background-color:white;
    color:black;
}

#gradient{
    position: relative;  
    width: 15vw;
    height: 15vw;
}

#imgcontainer{
    position: absolute; top: 4vw; left: 4vw;
}

#textcontainer{
    position: relative; top: 10vw; right: 0vw; left: 0vw;
}

#title{
    position: absolute; bottom: 0vw; left: 42vw;
    font-size: 3vw; 
}

#gradient1{
    position: relative;  
    width: 25vw;
    height:35vw;
}

#imgcontainer1{
    position: absolute; top: 13vw; left: 73vw;
}

#gradient2{
    position: relative;  
    width: 20vw;
    height:20vw;
}

#imgcontainer2{
    position: absolute; top: 25vw; left: 10vw;
}

#gradient3{
    position: relative;  
    width: 13vw;
    height:13vw;
}

#imgcontainer3{
    position: absolute; top: 5vw; left: 68vw;
}