body { 
    background-color:white;
    color:black;
    font-family:sans-serif;
}

#inputContainer{
    position: absolute;
    width: 15vw;
    height: 2vw;
    border: 0.2vw solid black;
    background-color:white;
    color:black;
}

.container{
    position: relative; top: 11.5vw; left: 40vw;
    width: fit-content;
}

#addToDo {
    position: relative; top: 0.3vw; left: 17vw;  
    
    width: 3vw;
    height: 2vw;
    border:solid black;
    background-color:white;
    color:black;
}

#textcontainer{
    position: relative; top: 10vw; right: 0vw; left: 0vw;
}

#title{
    position: absolute; bottom: 0vw; left: 42vw;
    font-size: 3vw; 
}

#gradient1{
    position: relative;  
    width: 20vw;
    height:26vw;
}

#imgcontainer1{
    position: absolute; top: 22vw; left: 75vw;
}

#gradient2{
    position: relative;  
    width: 20vw;
    height:20vw;
}

#imgcontainer2{
    position: absolute; top: 0vw; left: 2vw;
}


